@import "../../node_modules/@fancyapps/ui/dist/fancybox/fancybox.css";

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  vertical-align: top;
}

@font-face {
  font-family: "DINPro";
  font-display: swap;
  src: url("../fonts/DINPro-Black_13933.woff2") format("woff2"), url("../fonts/DINPro-Black_13933.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "DINPro";
  font-display: swap;
  src: url("../fonts/DINPro-Bold_13934.woff2") format("woff2"), url("../fonts/DINPro-Bold_13934.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DINPro";
  font-display: swap;
  src: url("../fonts/DINPro-Light_13935.woff2") format("woff2"), url("../fonts/DINPro-Light_13935.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DINPro";
  font-display: swap;
  src: url("../fonts/DINPro-Medium_13936.woff2") format("woff2"), url("../fonts/DINPro-Medium_13936.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DINPro";
  font-display: swap;
  src: url("../fonts/DINPro-Regular_13937.woff2") format("woff2"), url("../fonts/DINPro-Regular_13937.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --app-height: 100%;
  --white: #FFF;
  --black: #000;
  --pink: #E5097F;
  --green: #006E65;
  --dark-green: #00514A;
  --yellow: #F6EB4E;
}

body {
  font-family: "DINPro";
  font-weight: 400;
  color: var(--black);
  background: #F8F8F8;
  min-height: 100vh;
  min-width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  max-width: 100vw;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1310px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  flex: 1 1 auto;
  padding: 108px 0 150px;
}

.title {
  font-size: 2.1875rem;
  font-weight: 700;
  text-transform: uppercase;
}

.btn_yellow {
  font-size: 1rem;
  font-weight: 700;
  color: var(--black);
  padding: 8px 20px;
  border-radius: 5px;
  background: var(--yellow);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn_pink {
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
  padding: 8px 20px;
  border-radius: 5px;
  background: var(--pink);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.tabs__body {
  position: relative;
}

.tabs__block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}

.tabs__block.active {
  position: relative;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.7s ease 0.2s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header__top {
  background: var(--yellow);
  max-height: 28px;
}

.header__contacts {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.header__contact {
  width: 18px;
  height: 18px;
}

.header__contact svg {
  width: 100%;
  height: 100%;
  fill: var(--black);
}

.header__main {
  background: var(--white);
  max-height: 80px;
}

.header__body {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 1.25rem;
  font-weight: 700;
  white-space: nowrap;
}

.header__logo img {
  min-width: 46px;
  max-width: 46px;
  height: auto;
}

.header__btns {
  display: flex;
  align-items: center;
  gap: 11px;
}

.menu__list {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

.menu__item {
  padding: 5px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.menu__link {
  font-size: 0.9375rem;
  font-weight: 500;
}

.menu__btn {
  width: 10px;
  height: 10px;
  min-width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__btn svg {
  width: 100%;
  height: 100%;
  fill: var(--black);
  transform: rotate(-90deg);
  transition: all 0.5s ease;
}

.menu__submenu {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translate(0, 10px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  min-width: 170px;
  z-index: 50;
}

.menu__sublist {
  padding: 15px;
  list-style: none;
  background: var(--white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.menu__subitem:not(:last-child) {
  margin-bottom: 10px;
}

.menu__sublink {
  font-size: 0.9375rem;
  font-weight: 500;
}

.breadcrumbs__body {
  display: flex;
  align-items: center;
  padding: 30px 0 50px;
}

.breadcrumbs__item {
  color: var(--black);
  font-size: 0.9375rem;
  font-weight: 300;
}

.breadcrumbs__item:not(:last-child) {
  margin-right: 22px;
  position: relative;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(7px, -50%);
  width: 8px;
  height: 8px;
  background: url("../img/icons/icons.svg#breadcrumbs") center/contain no-repeat;
}

.breadcrumbs__item:not(a) {
  font-weight: 500;
}

.categories {
  margin-top: 23px;
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 10px;
  overflow-x: auto;
  scrollbar-width: none;
}

.categories::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.categories__item {
  font-size: 0.875rem;
  font-weight: 500;
  background: rgba(229, 9, 127, 0.05);
  border-radius: 100px;
  padding: 9px 40px;
  transition: all 0.5s ease;
  white-space: nowrap;
}

.categories__item.active {
  background: var(--yellow);
}

.pages {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.pages__prev,
.pages__next {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pages__prev svg,
.pages__next svg {
  width: 12px;
  height: 12px;
  fill: #2B2A35;
}

.pages__number,
.pages__separator {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1;
}

.pages__number.active,
.pages__separator.active {
  font-weight: 500;
}

.pages__next svg {
  transform: rotate(180deg);
}

.share {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.share__link {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.share__link svg {
  width: 100%;
  height: 100%;
  fill: var(--black);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 130px;
  gap: 12px;
}

.navigation__prev,
.navigation__next {
  width: 50px;
  height: 50px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.navigation__prev svg,
.navigation__next svg {
  width: 100%;
  height: 100%;
  stroke: var(--white);
}

.navigation__prev.disabled,
.navigation__next.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.navigation__prev.lock,
.navigation__next.lock {
  display: none;
}

.navigation__prev svg {
  transform: rotate(180deg);
}

.main {
  position: relative;
  min-height: calc(var(--app-height) - 108px);
  display: flex;
  flex-direction: column;
}

.main__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main__bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.main__body {
  flex: 1 1 auto;
  position: relative;
  padding: 50px 0;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__header {
  display: flex;
  gap: 20px;
}

.main__text {
  font-size: 0.875rem;
  font-weight: 900;
}

.main__details {
  font-size: 0.875rem;
  color: #FFFDF2;
}

.main__details b,
.main__details strong {
  font-weight: 700;
  color: var(--white);
}

.main__title {
  font-size: 3.75rem;
  font-weight: 900;
  margin-top: 20px;
  width: -moz-min-content;
  width: min-content;
  line-height: 1;
  text-transform: uppercase;
}

.main__score {
  max-width: 425px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 20px;
}

.main__team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__logo {
  max-width: 70px;
  display: flex;
  align-items: center;
}

.main__logo img {
  max-width: 100%;
  height: auto;
}

.main__count {
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
  transform: translate(0, 15%);
}

.main__names {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.main__name {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  margin-top: 15px;
}

.main__btn {
  margin-top: 50px;
  max-width: 230px;
  width: 100%;
}

.main__scroll {
  font-size: 0.875rem;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, 0);
}

.main__scroll::before {
  content: "";
  position: absolute;
  bottom: 130%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 18px;
  height: 32px;
  border-radius: 100px;
  border: 2px solid var(--white);
}

.main__scroll::after {
  content: "";
  position: absolute;
  bottom: 130%;
  left: 50%;
  transform: translate(-50%, -6px);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--white);
}

.logos {
  transform: translate(0, -50%);
}

.logos__images {
  padding: 23px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  background: var(--white);
  border-radius: 10px;
}

.logos__image {
  height: 53px;
  opacity: 0.3;
}

.logos__image img {
  max-height: 100%;
  width: auto;
}

.news {
  margin-top: 50px;
}

.news__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.news__link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--pink);
  font-weight: 700;
}

.news__link svg {
  width: 20px;
  height: 20px;
  min-width: 20px;
  fill: var(--pink);
}

.news__body {
  margin-top: 37px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 15px;
}

.news__item {
  position: relative;
}

.news__item:first-child {
  grid-column: span 2;
  grid-row: 1/7;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.news__item:first-child .news__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.news__item:first-child .news__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news__item:first-child .news__image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(246, 235, 78, 0.1);
  background: linear-gradient(180deg, rgba(246, 235, 78, 0) 40%, rgb(229, 9, 127) 100%);
  transition: all 0.5s ease;
  opacity: 0.8;
  z-index: 1;
}

.news__item:first-child .news__title {
  position: relative;
  z-index: 1;
  color: var(--white);
  font-size: 1.875rem;
  padding: 30px;
  margin: 0;
}

.news__item:nth-child(1n+2) {
  padding-bottom: 10px;
  border-bottom: 1px solid #E0E0E0;
}

.news__item:nth-child(1n+8) {
  padding: 0;
  border: none;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.news__item:nth-child(1n+8) .news__date {
  margin-top: 10px;
}

.news__image {
  width: 100px;
  min-width: 100px;
  height: 100px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.news__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news__date {
  font-size: 0.75rem;
  color: #7C7C7C;
}

.news__title {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 10px;
}

.news__category {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--green);
}

.results {
  margin-top: 90px;
}

.results__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  margin: 46px auto 0;
  max-width: 1064px;
  width: 100%;
}

.results__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 12px;
}

.results__name {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

.results__link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  color: var(--pink);
}

.results__link svg {
  width: 20px;
  height: 20px;
  fill: var(--pink);
}

.results__table {
  margin-top: 19px;
}

.results__table.season__table {
  max-height: 550px;
}

.blog__body {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 27px;
       column-gap: 27px;
  row-gap: 43px;
}

.blog__item {
  padding: 0 10px 10px;
  display: flex;
  flex-direction: column;
}

.blog__image {
  aspect-ratio: 300/200;
  position: relative;
  border-radius: 7px;
  overflow: hidden;
  margin: 0 -10px;
}

.blog__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__category {
  margin-top: 30px;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--green);
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.blog__name {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.blog__date {
  margin-top: 10px;
  font-size: 0.75rem;
  color: #7C7C7C;
}

.single__body {
  display: flex;
  gap: 70px;
}

.single__article {
  flex: 1 1 794px;
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.single__category {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--green);
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.single__title {
  margin-top: 10px;
}

.single__sidebar {
  flex: 1 1 413px;
}

.single__table:not(:last-child) {
  margin-bottom: 30px;
}

.single__table .season__table {
  max-height: 450px;
}

.single__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 16px;
}

.single__name {
  font-weight: 700;
}

.single__link {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--pink);
  font-size: 0.875rem;
  font-weight: 700;
}

.single__link svg {
  width: 16px;
  height: 16px;
  min-width: 16px;
  fill: var(--pink);
}

.single time {
  font-size: 0.75rem;
  color: #7C7C7C;
  margin-top: 10px;
}

.single img {
  border-radius: 7px;
  max-width: 100%;
  height: auto;
}

.single p {
  line-height: 1.45;
  margin-top: 30px;
}

.recent {
  margin-top: 50px;
}

.recent__title {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

.recent__body {
  margin-top: 30px;
}

.leaders__item {
  padding: 30px 100px 0;
  background: var(--green);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.leaders__item_yellow {
  background: var(--yellow);
}

.leaders__item_yellow .leaders__category,
.leaders__item_yellow .leaders__title,
.leaders__item_yellow .leaders__desc {
  color: var(--black);
}

.leaders__item_yellow .leaders__btn {
  color: var(--white);
  background: var(--black);
}

.leaders__item:not(:last-child) {
  margin-bottom: 30px;
}

.leaders__item:nth-child(2n+2) {
  flex-direction: row-reverse;
}

.leaders__image {
  flex: 0 1 477px;
  align-self: flex-end;
}

.leaders__image img {
  max-width: 100%;
  height: auto;
}

.leaders__info {
  flex: 0 1 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 30px;
}

.leaders__category {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFDF2;
}

.leaders__title {
  color: var(--white);
  margin-top: 15px;
  font-size: 3.75rem;
  font-weight: 900;
  line-height: 1;
}

.leaders__desc {
  margin-top: 15px;
  color: #FFFDF2;
  line-height: 1.45;
}

.leaders__btn {
  margin-top: 50px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--black);
  padding: 10px 40px;
  border-radius: 5px;
  background: var(--yellow);
}

.team_main {
  margin-top: 96px;
  padding: 80px;
  background: var(--green);
}

.team_main .team__title {
  color: var(--white);
}

.team_main .categories__item {
  background: #00514A;
  color: var(--white);
}

.team_main .categories__item.active {
  background: var(--yellow);
  color: var(--black);
}

.team__header {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
}

.team__body {
  margin-top: 38px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 28px;
       column-gap: 28px;
  row-gap: 16px;
}

.team__item {
  position: relative;
  display: block;
}

.team__image {
  width: 100%;
  aspect-ratio: 300/380;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.team__image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(246, 235, 78, 0.1);
  background: linear-gradient(180deg, rgba(246, 235, 78, 0) 40%, rgb(229, 9, 127) 100%);
  transition: all 0.5s ease;
  opacity: 0.8;
  z-index: 1;
}

.team__image::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(246, 235, 78, 0.1);
  background: linear-gradient(180deg, rgb(246, 235, 78) 0%, rgb(229, 9, 127) 100%);
  transition: all 0.5s ease;
  opacity: 0;
}

.team__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 23px 35px;
  display: grid;
  grid-template-rows: auto 0fr;
  transition: all 0.5s ease;
  z-index: 5;
}

.team__name {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--white);
}

.team__desc {
  font-size: 0.9375rem;
  font-weight: 500;
  color: var(--white);
  overflow: hidden;
}

.team__slider {
  margin-top: 30px;
}

.team__slide .team__image {
  aspect-ratio: 305/450;
  border-radius: 10px;
}

.team__navigation {
  position: absolute;
  bottom: 100%;
  right: 0;
  transform: translate(0, -90px);
}

.person_yellow .person__image::before {
  background: var(--yellow);
}

.person__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 64px;
}

.person__info {
  flex: 1 1 700px;
}

.person__category {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--green);
}

.person__title {
  margin-top: 10px;
}

.person__desc {
  margin-top: 30px;
  line-height: 1.45;
}

.person__desc p:not(:last-child) {
  margin-bottom: 24px;
}

.person__image {
  flex: 1 1 490px;
  position: relative;
  width: 100%;
  aspect-ratio: 100/110;
}

.person__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0 0 50% 50%;
}

.person__image::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -1%);
  width: 98.5%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--green);
}

.about__body {
  margin-top: 30px;
}

.about__intro {
  font-size: 1.25rem;
  line-height: 1.45;
}

.about__intro p:not(:last-child) {
  margin-bottom: 16px;
}

.about__block {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.about__block_accent .about__text {
  font-size: 1.25rem;
}

.about__year {
  font-size: 1.5625rem;
  font-weight: 700;
  border-radius: 5px;
  width: 95px;
  height: 40px;
  min-width: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--yellow);
}

.about__text {
  flex: 1 1 590px;
  line-height: 1.45;
}

.about__text p:not(:last-child) {
  margin-bottom: 16px;
}

.about__text b,
.about__text strong {
  font-size: 1.25rem;
  font-weight: 500;
}

.about__media {
  flex: 1 1 522px;
}

.about__image,
.about__video {
  width: 100%;
  aspect-ratio: 522/350;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.about__image:not(:last-child),
.about__video:not(:last-child) {
  margin-bottom: 22px;
}

.about__image img,
.about__image iframe,
.about__video img,
.about__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.docs__body {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 27px;
}

.docs__item {
  display: flex;
  flex-direction: column;
}

.docs__image {
  width: 100%;
  aspect-ratio: 300/400;
  position: relative;
  overflow: hidden;
}

.docs__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.docs__desc {
  font-weight: 500;
  padding: 10px;
  margin-top: 20px;
}

.contacts__body {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 21px;
}

.contacts__block {
  border-radius: 15px;
  background: var(--white);
  display: flex;
  flex-direction: column;
  padding: 35px 55px 55px;
}

.contacts__icon {
  width: 51px;
  height: 51px;
  position: relative;
}

.contacts__icon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contacts__name {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 55px;
}

.contacts__item {
  color: var(--black);
  line-height: 1.45;
}

.contacts__item:first-of-type {
  margin-top: 20px;
}

.stadium__body {
  margin-top: 30px;
  display: flex;
  gap: 60px;
}

.stadium__info {
  flex: 1 1 700px;
}

.stadium__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stadium__item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 13px 30px;
  border-radius: 100px;
  background: var(--white);
}

.stadium__item img {
  width: 34px;
  height: 34px;
  -o-object-fit: contain;
     object-fit: contain;
}

.stadium__item b,
.stadium__item strong {
  font-weight: 700;
}

.stadium__item:not(:last-child) {
  margin-bottom: 10px;
}

.stadium__desc {
  margin-top: 47px;
  line-height: 1.45;
}

.stadium__desc p:not(:last-child) {
  margin-bottom: 24px;
}

.stadium__images {
  flex: 1 1 522px;
}

.stadium__image {
  width: 100%;
  aspect-ratio: 522/350;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.stadium__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.stadium__image:not(:last-child) {
  margin-bottom: 30px;
}

.symbol__body {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.symbol__desc {
  flex: 0 1 700px;
  line-height: 1.45;
}

.symbol__desc p:not(:last-child) {
  margin-bottom: 24px;
}

.symbol__images {
  flex: 0 1 433px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.symbol__image {
  position: relative;
}

.symbol__image img {
  max-width: 100%;
  height: auto;
}

.symbol__link {
  margin-top: 80px;
  font-size: 1.25rem;
  color: var(--pink);
  text-decoration: underline;
}

.features__body {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__image {
  position: relative;
}

.features__image img {
  max-width: 100%;
  width: auto;
  max-height: 160px;
}

.features__name {
  margin-top: 20px;
  font-size: 1.875rem;
  font-weight: 700;
  text-align: center;
}

.features__desc {
  margin-top: 20px;
  line-height: 1.45;
  text-align: center;
}

.order__body {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  gap: 60px;
}

.order__info {
  flex: 1 1 700px;
}

.order__desc {
  line-height: 1.45;
}

.order__desc p:not(:last-child) {
  margin-bottom: 24px;
}

.order__list {
  list-style: none;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.order__item {
  padding: 10px 30px;
  border-radius: 100px;
  background: var(--white);
  display: flex;
  align-items: center;
  gap: 20px;
}

.order__item img {
  max-width: 29px;
  max-height: 29px;
}

.order__item:not(:last-child) {
  margin-bottom: 15px;
}

.order__image {
  flex: 1 1 522px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  aspect-ratio: 522/350;
}

.order__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.galleries__body {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 27px;
}

.galleries__item {
  position: relative;
}

.galleries__item_video .galleries__image::before {
  background: #006F65;
  background: linear-gradient(180deg, rgba(0, 111, 101, 0) 0%, rgb(0, 111, 101) 100%);
}

.galleries__image {
  width: 100%;
  aspect-ratio: 300/300;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
}

.galleries__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.galleries__image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(246, 235, 78, 0.1);
  background: linear-gradient(180deg, rgba(246, 235, 78, 0) 40%, rgb(229, 9, 127) 100%);
  transition: all 0.5s ease;
  opacity: 0.8;
  z-index: 1;
}

.galleries__info {
  padding: 21px 27px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.galleries__name {
  font-size: 1.25rem;
  font-weight: 900;
  color: var(--white);
}

.galleries__value {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--white);
  margin-top: 6px;
}

.gallery__body {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 27px;
}

.gallery__image {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
}

.gallery__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.season__body {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 80px;
       column-gap: 80px;
}

.season__name {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.season__table {
  border-radius: 10px;
  max-height: 650px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--pink) var(--pink);
}

.season__table::-webkit-scrollbar {
  width: 1px;
  height: 100%;
}

.season__table::-webkit-scrollbar-thumb {
  background: var(--pink);
}

.season__table table {
  width: 100%;
  border-collapse: collapse;
}

.season__table thead {
  background: #FFF899;
  background: linear-gradient(90deg, rgb(255, 248, 153) 0%, rgb(246, 235, 78) 100%);
}

.season__table thead td {
  font-size: 0.9375rem;
  font-weight: 700;
  text-transform: uppercase;
}

.season__table tbody {
  max-height: 615px;
  overflow-y: auto;
}

.season__table tbody td:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 12px;
}

.season__table tbody td:nth-child(2) img {
  max-width: 27px;
  max-height: 37px;
}

.season__table tbody td:nth-child(3) {
  font-weight: 400;
}

.season__table tr {
  background: rgba(246, 235, 78, 0.06);
}

.season__table tr:nth-child(even) {
  background: rgba(246, 235, 78, 0.2);
}

.season__table td {
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0 10px 0 18px;
  height: 50px;
  white-space: nowrap;
}

.season__table a {
  color: var(--black);
  font-weight: 400;
  font-size: 0.875rem;
  text-decoration: underline;
}

.season__table_tournament td:nth-child(2) {
  width: 45%;
}

.season__table_tournament thead td:nth-child(1n+3) {
  text-align: center;
}

.season__table_tournament tbody td:nth-child(1n+3) {
  text-align: center;
  font-weight: 400;
}

.season__table_pink thead {
  background: #FF6FBC;
  background: linear-gradient(90deg, rgb(255, 111, 188) 0%, rgb(229, 9, 127) 100%);
}

.season__table_pink thead td {
  color: var(--white);
}

.season__table_pink tbody tr {
  background: rgba(229, 9, 127, 0.2);
}

.season__table_pink tbody tr:nth-child(even) {
  background: rgba(229, 9, 127, 0.05);
}

.season__table_team td:nth-child(2) {
  width: 55%;
}

.season__table_team td:nth-child(1n+3) {
  text-align: center;
}

.season__table_team tbody td:nth-child(1n+3) {
  font-weight: 400;
}

.info__body {
  margin-top: 30px;
}

.info h1 {
  font-size: 2.1875rem;
  font-weight: 700;
}

.info p {
  line-height: 1.45;
  margin-top: 16px;
}

.info ol,
.info ul {
  margin-top: 16px;
  padding-left: 5px;
}

.info ol {
  list-style: none;
  counter-reset: ol-counter;
}

.info ol li::before {
  counter-increment: ol-counter;
  content: counter(ol-counter) ". ";
}

.info a {
  color: var(--pink);
}

/**
 * Swiper 11.1.1
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2024 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: April 9, 2024
 */

@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
  /*
  --swiper-preloader-color: var(--swiper-theme-color);
  --swiper-wrapper-transition-timing-function: initial;
  */
}

:host {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
  display: block;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-horizontal {
  touch-action: pan-y;
}

.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}

/* 3D Effects */

.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}

.swiper-3d {
  perspective: 1200px;
}

.swiper-3d .swiper-slide,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}

/* CSS Mode */

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-css-mode.swiper-horizontal > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-css-mode.swiper-vertical > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-css-mode.swiper-free-mode > .swiper-wrapper {
  scroll-snap-type: none;
}

.swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: none;
}

.swiper-css-mode.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}

.swiper-css-mode.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}

.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

/* Slide styles start */

/* 3D Shadows */

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader {
  animation: swiper-preloader-spin 1s infinite linear;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}

@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Slide styles end */

.footer__top {
  background: var(--white);
}

.footer__images {
  padding: 23px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.footer__image {
  height: 53px;
  opacity: 0.3;
}

.footer__image img {
  max-height: 100%;
  width: auto;
}

.footer__middle {
  background: var(--green);
}

.footer__body {
  padding: 40px 0;
}

.footer__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__info {
  max-width: 450px;
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.875rem;
  font-weight: 700;
  color: var(--white);
}

.footer__logo img {
  max-width: 56px;
  height: auto;
}

.footer__text {
  margin-top: 12px;
  color: var(--white);
}

.footer__socials {
  max-width: 285px;
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
}

.footer__social {
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 500;
}

.footer__social span {
  width: 45px;
  height: 45px;
  min-width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--white);
}

.footer__social svg {
  width: 17px;
  height: 17px;
  fill: var(--white);
}

.footer__bottom {
  background: var(--dark-green);
}

.footer__extra {
  padding: 18px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.footer__links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer__link {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--white);
  opacity: 0.6;
}

.footer__rights {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--white);
  opacity: 0.6;
}

.menu-footer {
  margin-top: 54px;
}

.menu-footer__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu-footer__link {
  font-size: 0.9375rem;
  font-weight: 500;
  color: var(--white);
}

@media (any-hover: hover) {
  .menu__item:hover .menu__submenu {
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
  }

  .menu__item:hover .menu__btn svg {
    transform: rotate(-270deg);
  }

  .team__item:hover .team__info {
    grid-template-rows: auto 1fr;
  }

  .team__item:hover .team__image::after {
    opacity: 0.8;
  }
}